## Ignorar la carpeta de Visual Studio .vs
.vs/
.vscode/

## Archivos de configuración de usuario de Visual Studio
*.user
*.userosscache
*.suo
*.userprefs

## Archivos de compilación de Visual Studio
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/



## Archivos de respaldo
*.[Bb]ak
*.[Tt]mp
*.[Ll]og

# Ignorar la carpeta Library y Artifacts de Unity
Library/
Artifacts/

# Ignorar cache de paquetes de Unity
Library/PackageCache/


## Otros archivos y carpetas
packages/   # Carpeta de paquetes NuGet
*.ncrunch*  # NCrunch
*.sln.docstates
*.vspscc    # Archivos de control de fuente específicos de Visual Studio
*.vssscc    # Archivos de control de fuente específicos de Visual Studio

# Archivos de caché y logs
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Carpetas específicas de herramientas y frameworks
.nuget/
_ReSharper*/
[Tt]est[Pp]rojects/

# Archivos y carpetas de herramientas de editor de texto
*.swp
*.*swp
*.un~
*.swo
*.idea
*.vscode

# Archivos específicos de OS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails de macOS
._*

# Archivos específicos de Windows
Thumbs.db
ehthumbs.db
Desktop.ini
Library/PackageCache/
